/* HEADER NAVBAR */
#top-navbar div.ui.container div.selectable {
  cursor: pointer;
}

/* PICKS SECTION */
#profilePage {

    margin-top: 70px;
}

div.wide.column {
    padding: 0px 5px !important;
}

/* PICKS */
#gameweeks-picks-content {
    padding: 10px 0px;
}

#picksContainer {
    margin: 25px 0px 10px 0px;
}

table.ui.very.compact {
    font-size: 9pt;
}

.radio-inline {
    font-size: 9pt !important;
}

.team-pick {
  padding-left: 10px !important;
}

.draw-pick {
  padding-left: 10px !important;
}

.ui.fixed.table td, .ui.fixed.table th {
    padding: 1px 8px 1px 4px;
}

.ui.celled.table td, .ui.celled.table th {
    padding: 1px 8px 1px 4px;
}

#submitPicks {
    padding: 5px;
}

/* LAST WEEKS RESULTS */
#last-weeks-results-content {
    padding: 0px 0px;
}

.result-cell {
  font-size: 9pt;
  padding: 0px 10px;
  line-height: 20px;
}

/* YOUR PICKS */
#your-picks-content {
    padding: 0px 0px;
}

#yourPicks td {
  line-height: 40px;
}

.radio {
  cursor: pointer;
}

.radio.selected {
  background-color: #0E6EB8 !important;
  color: white !important;
}

/* LOWER SECTION */
#clubs {
    margin-top: 40px;
    margin-bottom: 20px;
}

/* TEAM NAV */
#nav-container {
    text-align: center;
    overflow: auto;
}

#club-navbar {
    border-top: 2px solid rgba(34,36,38,.15);
    display: -webkit-inline-box;
    font-size: 10pt;
}

#content-container {
    margin-top: 35px;
}

#TOT img {
    height: 3rem;
    width: auto;
}

#nav-container div.item {
    cursor: pointer;
}

#nav-container div.item:hover {
    background-color: transparent;
    box-shadow: none;
    border-color: darkred;
}

/* TEAM CONTENT */
.card-header {
    background-color: green !important;
}

div.ui.fluid.card div.card-header div.card-label {
    color: white;
}

#injuries-content {
    font-size: 9pt;
}

#team-info-content {
    font-size: 9pt;
}

#table-standings {
    font-size: 9pt;
    padding: 10px 10px;
    overflow: auto;
}

#team-news-content {
    font-size: 9pt;
}

/* MODALS */
#lastWeek-modal {
  text-align: center;
}

#lastWeeksResultsContainer {
  margin: 20px 0px;
}

#currentPicks-modal {
  text-align: center;
}

#rankings-modal {
  text-align: center;
}

#currentPicks-modal div.content {
  padding: 0px;
}

#currentPicks-modal div.sixteen.wide.column {
  padding: 0px 0px !important;
}

/*OTHER*/
.hidden {
    display: none !important;
}

@media screen and (max-width:600px){
    #table-standings {
        padding: 0px;
    }

    .mobile-table {
        display: none;
    }

    #profilePage {
        margin-top: 200px;
    }

    #logo {
        display: none;
    }
}

@media screen and (min-width:600px) and (max-width:768px){
    .desktop-table {
        display: none;
    }

    #profilePage {
      margin-top: 200px;
    }

    #logo {
      display: none;
    }
}

@media screen and (min-width:768px) and (max-width:990px){
    #table-standings {
        padding: 0px;
    }

    .mobile-table {
        display: none;
    }
}

@media screen and (min-width:990px){
    .desktop-table {
        display: none;
    }
}

/* CSS for Login Page */

body {
  /*background: url("../images/bg-img.jpg") fixed;*/
  /*background-size: cover;*/
  /*color: #fff;*/
  /*width: 100%;*/
  /*height: 100%;*/
  }

#wrapper {
    color: #fff;
}

#login-btn {
    float: right;
    padding: 20px 30px;
    font-size: 20px;
    color: #000;
    margin-right: 50px;
    margin-top: 15px;
}

#main-header {
  text-transform: uppercase;
  font-size: 60px;
  text-align: center;
  float: left;
  padding-left: 30px;
  padding-top: 20px;
  text-shadow: 3px 3px #000;
  font-family: 'Oswald', sans-serif;
}


#content-header {
  font-size: 40px;
  text-shadow: 3px 3px #000;
  font-family: 'Oswald', sans-serif;
  float: left;
  margin-left: 20px;
  padding-top: 50px;
  margin-bottom: 20px;
  clear: both;
} 

.p-main {
  font-family: 'Oswald', sans-serif;
 font-size: 30px;
  text-shadow: 3px 3px #000;
  float: left;
  margin-left: 20px;
  line-height: 40px;
  clear: both;
}


#image-one {
  float: left;
  max-width: 45%;
  height: auto;
  clear: both;
  margin-left: 400px;
  margin-top: 10px;
}

#image-two {
  float: left;
  max-width: 45%;
  height: auto;
  clear: both;
  margin-left: 400px;
  margin-top: 10px;
}

#text-one {
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  text-shadow: 3px 3px #000;
  float: left; 
  clear: both;
  margin-left: 400px;
}

#text-two {
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  text-shadow: 3px 3px #000;
  float: left;
  clear: both;
  margin-left: 400px;
}

#authors {
  float: left;
  clear: both;
  font-family: 'Oswald', sans-serif;
  font-size: 10px; 
}

/* Media Queries for Login Page */

@media screen and (max-width:600px){
    #main-header {
  font-size: 40px;
  text-align: center;
  float: left;
}

#login-btn {
  margin-right: 190px;
  padding: 10px;
  } 

  #content-header {
  font-size: 30px;
  float: left;
  }

  .p-main {
  font-size: 20px;
}

#image-one {
  max-width: 90%;
  height: auto;
  margin-left: 20px;
  margin-top: 10px;
}

#image-two {
  max-width: 90%;
  height: auto;
  margin-left: 20px;
  margin-top: 10px;
}

#text-one {
  font-size: 20px;
  margin-left: 20px;
}

#text-two {
  font-size: 20px;
  margin-left: 20px;
}

#authors {
  margin-left: 150px;
  font-size: 10px; 
}
}

@media screen and (min-width:768px) and (max-width:990px){

#login-btn {
  margin-right: 350px;
  } 

  #content-header {
      font-size: 40px;
  }

#image-one {
  max-width: 80%;
  height: auto;
  margin-left: 20px; 
  margin-top: 10px;
}

#image-two {
  max-width: 80%;
  height: auto;
  margin-left: 20px;
  margin-top: 10px;
}

#text-one {
  font-size: 30px;
  margin-left: 20px;
}

#text-two {
  font-size: 30px;
  margin-left: 20px;
}

}


